.app{
  min-height:100vh;
  overflow:auto;
  background: linear-gradient(45deg, #b6465f 30%, #da9f93 90%);
  z-index: -1;
} 


input {
  outline: none;
  position: absolute;
  margin-top: 40px;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}
input[type=search] {
  background: #fffbfbd7 url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 4px #ccc;
  padding: 9px 10px 9px 42px;
  width: 100px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 200px;
  background-color: #fff;
  border-color: #9b5568;
  -webkit-box-shadow: 0 0 5px #ffb3c7;
  -moz-box-shadow: 0 0 5px #ffb3c7;
  box-shadow: 0 0 5px #ffb3c7;
}
input:-moz-placeholder {
  color: rgba(131, 84, 84, 0.781);
}

input::-webkit-input-placeholder {
  color:rgb(131, 84, 84, 0.781);
}


